<section class="about" id="loginId" style="background: url('../assets/images/apples.jpg');   height: 100vh; background-position: center; background-size: cover; margin: -40px 0 20px; z-index: 100;">
<div class="cranBox">

<div class="loginBox">


<h1>Edit</h1>

<form method="POST" action="/blogs/<%= blog.id %>">
  <input type="hidden" name="_method" value="PUT">


  <div class="form-group">
    <label class="newLabel" for="dish">Dish</label>
    <textarea name="dish" id="dish" placeholder="Dish" required><%= blog.dish %></textarea>
  </div>

  <div class="form-group">
    <label class="newLabel" for="description">Description</label>
    <textarea name="description" id="description" required placeholder="Description"><%= blog.description %></textarea>
  </div>

  <div class="form-group">
    <label class="newLabel" for="tag">Tag</label>
    <textarea name="tag" id="tag" placeholder="Tag" required><%= blog.tag %></textarea>
  </div>

  <button class="addBlog">Update</button>
</form>
</div>

</div>
</section>
