<section id="loginId" style="background: url('../assets/images/onions.jpg');   height: 100vh; background-position: center; background-size: cover; margin: -40px 0 20px; z-index: 100;">

<div class="loginBox">

<h1>Register</h1>


    <form method="POST" action="/register" enctype="multipart/form-data">
  <div class="loginForm">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
      </div>
      <div>
        <label for="image">Profile Picture</label>
        <input type="file" name="image" id="ppImage">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <div>
        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation">
      </div>

      <button >Register</button>
    </form>

    <br>
    <br>
    <br>

  </div>


</section>
