<div class="row footer">
  <a href="/">Home</a> <a>⋆</a>
  <a href="/register">Register</a> <a>⋆</a>
  <a href="/login">Login</a> <a>⋆</a>
  <a href="/about">About</a> <a>⋆</a>
  <a href="/contact">Contact</a>
</div>
