<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rate my bake</title>
    <% include ./partials/stylesheets %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <% for(const type in messages) { %>
      <div class="alert alert-<%= type %>">
        <div class="container">
          <%= messages[type] %>
        </div>
      </div>
    <% } %>
    <main class="container">
      <%- body %>
    </main>
    <% include ./partials/scripts %>



  </body>
</html>
