<h1>500: Internal Server Error</h1>

<br>

<div style="background: url('../assets/images/500.jpeg');   height: 100vh; background-position: center; background-size: cover; margin: -40px 0 20px; z-index: 100;"></div>




<h5><%= err.message %></h5>

<% if(locals.err.stack) { %>
<pre>
  <%= err.stack %>
</pre>
<% } %>
