<section class="about" id="loginId" style="background: url('../assets/images/macaroon.jpg');   height: 600px; width: 850px; background-position: center; background-size: cover; margin: -40px 0 20px; z-index: 100;">

<div class="about">

<h1>About</h1>


<p>I love cake</p>
<p>Cake is great</p>
<p>All the cakes</p>

<img src="../assets/images/pp.jpg" alt="aboutPic" style="padding-top: 18px;">

</div>


</section>






<%# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAny3aWo-LtokYKDnwAUWKqES33u01fG3Q&callback=initMap"
  type="text/javascript"></script>


AIzaSyAny3aWo-LtokYKDnwAUWKqES33u01fG3Q%>
