<section class="about" id="loginId" style="background: url('../assets/images/garlic.jpg');   height: 100vh; background-position: center; background-size: cover; margin: -40px 0 20px; z-index: 100;">

<div class="contact">

<h1>Contact</h1>

<p>GitHub id: Hannahwynnjones</p>
<p>Email: Hannahwynnjones2@gmail.com</p>

</div>


</section>
