<section id="hero">
  <h1>Rate my Bake</h1>
<br>

  <section id="heroLinks"
  <% if(locals.isAuthenticated) { %>

    <div class="row">
        <a href="/users/<%= locals.user.id %>">Your Profile</a> <a>⋆</a>
        <a href="/users">All profiles</a> <a>⋆</a>
        <a href="/blogs">All blogs</a> <a>⋆</a>
        <a href="/blogs/new">Add Blog</a>

    </div>

  <% } else { %>

  <div class="row">
    <a href="/register">Register</a> <a>⋆</a>
    <a href="/login">Login</a> <a>⋆</a>
    <a href="/about">About</a> <a>⋆</a>
    <a href="/contact">Contact</a>
  </div>
  <% } %>
  </section>
</section>
