body {
  background-color: #242322;
  font-family: 'Cormorant Garamond', serif;
  color: #807a75;
}

$darkGrey: #242322;
$lghtGrey: #807a75;

a {
  color: white;
  text-decoration: none;
  margin: 0 2px;

  .underlined {
  text-decoration: underline;
  }
}

img {
  height: 300px;
}

  #profilePic {
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 13px;
  }



.nav {
  background-color: rgba(20, 20, 20, 0);
}

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid white;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 28px;
  }
}

#hero {
  // height: 100vh;
  background: url('../assets/images/cake.jpg');
  height: 600px;
  width: 800px;
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 40px;
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
font-family: 'Cormorant Garamond', serif;
  }
  #heroLinks {
    height: 200px;
    font-size: 20px;
    position: absolute;
    display: block;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}

.footer {
  padding: 10px 0;
  margin: 0 30px;
  text-align: center;
  position: relative;
}
