body {
  background-color: #242322;
  font-family: 'Cormorant Garamond', serif;
  color: #807a75;
  border-radius: 2px;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 135px;
  margin-right: 135px;
}

$darkGrey: #242322;
$lightGrey: #827d78;

a {
  color: white;
  text-decoration: none;
  margin: 0 2px;

  .underlined {
  text-decoration: underline;
  }
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}


img {
  max-height: 300px;
  max-width: 200px;
}

button {
  border-width: medium;
  border-color: white;
  margin: 10px;
  padding: 5px 20px;
  background-color: $lightGrey;
  color: $darkGrey;
  border-radius: 5px;

}

  #profilePic {
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 13px;
  }

section {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 2px solid white;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 28px;
  }
}

#hero {
  // height: 100vh;
  background: url('../assets/images/cake.jpg');
  height: 100vh;

  background-position: center;
  background-size: cover;
  position: relative;
  margin: -40px 0 20px;
  padding-top: 80px;
  padding-bottom: 80px;
    .image {
    background-position: center;
    background-size: cover;
    &:after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
  }
  h1 {
    font-size: 47px;
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Bad Script', cursive;
  }
  #heroLinks {
    height: 200px;
    font-size: 20px;
    position: absolute;
    display: block;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

h1 {
  font-size: 47px;
  padding: 3px;
  color: white;
  font-family: 'Bad Script', cursive;
}

div.box2 {
  background: $lightGrey;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 50%;
  left: 10%;

}

#loginId {

  .loginBox {
    background-color: rgba(130, 125, 120, 0.8);
    padding: 30px;
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 1000;
    color: $darkGrey;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    .newLabel {
      font-size: 18px;
      padding: 0px;
    }
    .addBlog {
      font-size: 20px;
    }
  }
  a {
    color: $darkGrey;
    display:block;
    text-align:center;
    font-weight:400;
    font-size: 15px;
  }

  .loginLinks {
    width: 300px;
    margin: 0 auto;
  }

  button {
    float: right;
    position: relative;
    margin-right: 40px;

  }
  h1 {

    padding: 3px 3px 30px 20px;

  }
  .loginForm {
    margin: 8px 0;

  }
}

.showBlog {
  margin: 40px;
}

.footer {
  padding: 10px 0;
  margin: 0 30px;
  text-align: center;
  position: relative;
}

.about {
  background-color: rgba(130, 125, 120, 0.8);
  padding: 30px;
  display: inline-block;
  text-align: left;
  position: relative;
  z-index: 1000;
  color: $darkGrey;
  font-weight: bold;
  font-size: 20px;
  height: 520px;
}
.contact2 {
    padding: 30px 650px 30px 30px;
    display: inline-block;
    text-align: left;
    position: relative;
    top: 0%;
    left: 0%;

  .contact {
    background-color: rgba(130, 125, 120, 0.8);
    padding: 30px;
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 1000;
    color: $darkGrey;
    font-weight: bold;
    font-size: 20px;
    height: 240px;
    top: 0%;
    left: 0%;
  }

}

.cranBox {
  padding: 30px 650px 30px 30px;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 0%;
  left: 0%;
    height: 820px;
}

@media only screen and (max-width: 960px) {
  body {
    margin: 20px;

    #hero {
      // height: 100vh;
      // height: 400px;
      width: 800px;
      background-position: center;
      background-size: cover;
      position: relative;
      margin-top: 10px;

      h1 {
        font-size: 30px;
        padding-top: 80px;
      }
      #herolinks {
        font-size: 20px;
        top: 70%;

      }
    }

  }
}

@media only screen and (max-width: 640px) {
  body {
    margin: 5px;

    #hero {
      // height: 100vh;
      // height: 400px;
      width: 400px;
      background-position: center;
      background-size: cover;
      position: relative;
      margin-top: 10px;

      h1 {
        font-size: 30px;
        padding-top: 80px;
      }
      #herolinks {
        font-size: 20px;
        top: 70%;

      }
    }

  }
}
